# Import required libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the csv

In [8]:
heroes_df = pd.read_csv("charcters_stats.csv")

# Show the first record from the csv

In [10]:
print("First record from the dataset:")
heroes_df.head(1)

First record from the dataset:

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233

# Show the number of rows and columns
* Found a new way to find dataset structure utilizing heroes_df.shape to show rows and columns.

In [11]:
num_rows, num_columns = heroes_df.shape
print(f"\nNumber of rows: {num_rows}, Number of columns: {num_columns}")

Number of rows: 611, Number of columns: 9